@import './variable.scss';
@import './mixin.scss';

.aboutme_container {
    min-height: inherit;

    .content {
        min-height: inherit;

        .contact {
            background-image: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.3)), url('../../assets/img/background-laptop-2.jpg');
            padding: 78px;
            height: calc(100% - 100px);
            display: flex;    
            justify-content: space-evenly;
            align-items: center;
            
            @include media-max(770px) {
                flex-direction: column-reverse;
                padding: 10%;
            }

            .left {
                height: fit-content;

                @include media-max(770px) {
                    text-align: center;
                }

                >:nth-child(1) {
                    @include font($font-abel, $font-l, $color-orange, $weight-light);
                    padding-bottom: 15px;
            
                    @include media-max(770px) {
                        @include font($font-abel, $font-m, $color-orange, $weight-light);
                    }
                }

                >:nth-child(2) {
                    @include font($font-abel, $font-xxl, $color-dark-grey, $weight-bold);
            
                    @include media-max(770px) {
                        @include font($font-abel, $font-xl, $color-dark-grey, $weight-bold);
                    }
                }

                >:nth-child(3) {
                    @include font($font-abel, $font-xl, $color-dark-grey, $weight-bold);
                    padding-bottom: 30px;
            
                    @include media-max(770px) {
                        @include font($font-abel, $font-l, $color-dark-grey, $weight-bold);
                    }
                }
                

                >:nth-child(4) {
                    @include font($font-abel, $font-s, $color-dark-grey, $weight-light);
                    display: flex;
                    flex-direction: column;

                    @include media-max(770px) {
                        align-items: center;
                    }

                    > div {
                        display: flex;
                        padding: 10px 0;

                        img {
                            width: 20px;
                            height: 20px;
                        }
                        
                        div, a {
                            padding: 0px 20px;
                        }

                        a {
                            text-decoration: underline;
                            color: $color-blue;
                        }
                    }
                }
            }

            .right {
                height: fit-content;

                img {    
                    width: 300px;
                    border-radius: 1000px;
                    border: 20px solid rgba(255,255,255,0.4); 

                    @include media-max(500px) {
                        width: 90%;
                        border: 20px solid rgba(255,255,255,0.4);
                    }
                }
            }
        }

        .summary {
            padding: 10% 20%;

            @include media-max(870px) {
                padding: 10%;
            }

            .title {
                @include font($font-abel, $font-xs-title, $color-light-orange, $weight-bold);

                @include media-max(783px) {
                    font-size: $font-xxs-title;
                }
            }

            .text {
                @include font($font-abel, $font-s, $color-medium-grey, $weight-light);
            }
        }

        .interest {
            .title {
                @include font($font-abel, $font-xs-title, $color-medium-grey, $weight-bold);
                text-align: center;
            }

            .container {
                padding: 20px;
                display: flex;
                justify-content: center;

                > div {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                }
    
                .card {
                    padding: 20px;
                    box-shadow: 0px 0px 30px 0px $color-light-grey;
                    border-radius: 20px;
                    display: flex;
                    flex-direction: column;
                    width: 16.5rem;
                    margin: 20px;
    
                    > div:last-child {
                        padding: 20px;        
                        width: initial;

                        > :first-child {
                            @include font($font-abel, $font-xxl, $color-medium-grey, $weight-bold);
                        }

                        > :last-child {
                            padding: 15px 0px;
                            @include font($font-abel, $font-s, $color-medium-grey, $weight-light);
                        }
                    }
    
                    img {    
                        height: 16.5rem;
                    }
                }
            }
        }
    }
}