@import './variable.scss';
@import './mixin.scss';

.container {
    min-height: inherit;    

    .content {
        min-height: inherit;
        width: 100%;

        .contact {
            background-image: linear-gradient(to right, rgba(255,255,255,0.3), rgba(255,255,255,0.7)), url('../../assets/img/background-laptop-2.jpg');
            padding: 64px;
            height: calc(100% - 100px);
            display: flex;    
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            @include media-max(358px) {
                padding: 40px;
            }

            .top {
                display: flex;
                flex-direction: row;
                align-items: center;

                @include media-max(798px) {
                    flex-direction: column;
                }

                .left {
                    height: fit-content;
    
                    img {    
                        width: 300px;
                        border-radius: 1000px;
                        border: 20px solid rgba(255,255,255,0.4); 
    
                        @include media-max(500px) {
                            width: 90%;
                            border: 20px solid rgba(255,255,255,0.4);
                        }
                    }
                }
                
                .right {
                    height: fit-content;
                    padding-left: 50px;
                    
                    @include media-max(798px) {
                        padding-left: 0px;
                    }
    
                    @include media-max(798px) {
                        text-align: center;
                        margin-top: 20px;
                    }
    
                    >:nth-child(1) {
                        @include font($font-abel, $font-l, $color-orange, $weight-light);
                        padding-bottom: 15px;
                
                        @include media-max(770px) {
                            @include font($font-abel, $font-m, $color-orange, $weight-light);
                        }
                    }
    
                    >:nth-child(2) {
                        @include font($font-abel, $font-xxl, $color-dark-grey, $weight-bold);
                
                        @include media-max(770px) {
                            @include font($font-abel, $font-xl, $color-dark-grey, $weight-bold);
                        }
                    }
    
                    >:nth-child(3) {
                        @include font($font-abel, $font-xl, $color-dark-grey, $weight-bold);
                
                        @include media-max(770px) {
                            @include font($font-abel, $font-l, $color-dark-grey, $weight-bold);
                        }
                    }

                    .bottom {
                        @include font($font-abel, $font-s, $color-dark-grey, $weight-light);
                        display: flex;
                        width: fit-content;
        
                        > div {
                            padding: 10px 0;
                            width: fit-content;
                            
                            div, a {
                                padding: 5px 20px;
                            }
        
                            > div {
                                display: flex;
                                flex-direction: row;
        
                                @include media-max(825px){
                                    padding: 0px 3%;
                                }
                            }
        
                            img {
                                width: 20px;
                                height: 20px;
                            }
        
                            a {
                                text-decoration: underline;
                                color: $color-blue;
                            }
                        }
                    }
                }    
            }
        }

        .summary {
            padding: 10% 20%;
            background-color: $color-x-light-grey;

            @include media-max(870px) {
                padding: 20% 10%;
            }

            .title {
                @include font($font-abel, $font-xs-title, $color-light-orange, $weight-bold);

                @include media-max(783px) {
                    @include font($font-abel, $font-xxs-title, $color-light-orange, $weight-bold);
                }
            }

            .text {
                @include font($font-abel, $font-s, $color-medium-grey, $weight-light);
            }
        }

        .interest {
            .title {
                @include font($font-abel, $font-xs-title, $color-medium-grey, $weight-bold);
                text-align: center;
                margin-top: 60px;
                
                @include media-max(783px) {
                    @include font($font-abel, $font-xxs-title, $color-medium-grey, $weight-bold);
                }
            }

            .container {
                padding: 20px;
                display: flex;
                justify-content: center;

                > div {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;
                }
            }
        }
    }
}