@import './variable.scss';
@import './mixin.scss';

.panel {
    box-shadow: 0px 0px 30px 0px $color-light-grey;
    border-radius: 8px;
    background-color: $color-white;
    width: 50%;
    overflow: hidden;
    margin: 20px 0px;
    
    @include media-max(1200px) {
        width: 80%;
    }

    >div {
        @include font($font-abel, $font-l, $color-white, $weight-bold);

        @include media-max(500px){
            font-size: $font-m;
        }
    }

    .period {
        padding: 20px;
        background-color: $color-pale-blue;
    }

    .period-intern {
        padding: 20px;
        background-color: $color-green;
    }

    .period-ft {
        padding: 20px;
        background-color: $color-light-orange;
    }

    .header {
        display: flex;
        flex-direction: row;

        .title {   
            padding: 20px;
            display: flex;
            flex-direction: row;
            align-items: start;
            width: 90%;

            img {
                width: 50px;
                padding: 10px;
            }
        
            > div {
                .school {
                    @include font($font-abel, $font-l, $color-medium-grey, $weight-bold);

                    @include media-max(500px){
                        font-size: $font-m;
                    }
                }

                .cert {
                    @include font($font-abel, $font-m, $color-medium-grey, $weight-light);
                }
            }
        }

        .arrow {
            padding: 20px;
            width: 10%;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                background-color: $color-light-grey;
            }
        }
    }

    .body {
        height: 0px;
        overflow: hidden;
        padding: 0 20px 0 67px;
        transition: height 0.15s ease;

        @include media-max(500px){
            padding-left: 0;
        }

        .desc {
            @include font($font-abel, $font-s, $color-medium-grey, $weight-light);
        }

        .tools {
            @include media-min(500px){
                padding-left: 24px;
            }

            > .title {
                @include font($font-abel, $font-s, $color-medium-grey, $weight-bold);
            }

            > ul {
                list-style-type: none;
                padding-left: 0;
                margin-top: 10px;
                display: flex;
                flex-wrap: wrap;

                > li {
                    @include tag($color-pale-blue, 10px, 10px, 0, 0, $font-abel, $font-s, $color-white, $weight-light);
                }
            }
        }
    }
}