@import './variable.scss';
@import './mixin.scss';

.container {
    min-height: inherit;    

    .content {
        min-height: inherit;
        width: 100%;

        .education {
            min-height: inherit;

            > .title {    
                text-align: center;
                margin-top: 60px;
                @include font($font-abel, $font-xs-title, $color-medium-grey, $weight-bold);
            }

            .journey {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 40px 0px;
            }
        }
    }
}