@import './variable.scss';
@import './mixin.scss';

.container {
    min-height: inherit;    

    .content {
        min-height: inherit;
        width: 100%;

        .experiences {
            min-height: inherit;

            > .title {    
                text-align: center;
                margin-top: 60px;
                @include font($font-abel, $font-xs-title, $color-dark-grey, $weight-bold);              
                display: flex;
                justify-content: center;
                align-items: center;
                background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.9)), url('../../assets/img/experience.jpg');
                background-size: cover;
                min-height: inherit;
                width: 100%;

                @include media-max(460px){
                    @include font($font-abel, $font-xxxl, $color-dark-grey, $weight-bold); 
                };

                @include media-max(361px){
                    @include font($font-abel, $font-xxl, $color-dark-grey, $weight-bold); 
                };
            }

            .journey {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 40px 0px;
            }
        }
    }
}