
@font-face {
    font-family: 'Wensley';
    src: url('../../assets/font/WensleyDemo.eot') format('embedded-opentype'),
        url('../../assets/font/WensleyDemo.woff') format('woff');
}

@font-face {
    font-family: 'Enrique';
    src: url('../../assets/font/EnriqueDemo.eot') format('embedded-opentype'),
        url('../../assets/font/EnriqueDemo.woff') format('woff');
}

@font-face {
    font-family: 'Abel';
    src: url('../../assets/font/abel-regular-webfont.eot') format('embedded-opentype'),
        url('../../assets/font/abel-regular-webfont.woff') format('woff');
}