@import './mixin.scss';
@import './variable.scss';


.header {
    @include font($font-abel, $font-m, $color-dark-grey, $weight-light);
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    transition: all ease-in 0.3s;
    cursor: pointer;

    > a {
        padding: 24px 30px;
        text-decoration: none;
        @include font($font-abel, $font-m, $color-dark-grey, $weight-bold);

        &:hover {
            @include font($font-abel, $font-m, $color-orange, $weight-bold);
        }
    }

    .underline {
        @include font($font-abel, $font-m, $color-orange, $weight-bold);
        border-bottom: 2px solid $color-orange;

        &:hover {
            @include font($font-abel, $font-m, $color-orange, $weight-bold);
        }
    }
}

.sticky_header {
    box-shadow: 10px 10px 30px -17px $color-medium-grey;
    background-color: $color-white;
}

.menubar {
    @include font($font-abel, $font-m, $color-dark-grey, $weight-light);
    display: flex;
    position: fixed;
    width: 100%;
    transition: all ease-in 0.3s;

    @include media-max(875px){
        height: 100%;
    }
    
    .burger {
        z-index: 10;
        padding: 10px;
        height: 28px;
        border-bottom-right-radius: 16px;

        span {
            display: block;
            margin: 5px;
            height: 3px;
            width: 33px;
            background: $color-orange;
            border-radius: 9px;
            transform: rotate(0deg);
            transition: transform ease-in-out 0.2s, margin-top ease-in-out 0.2s, visibility ease-in 0.05s;
            border-radius: 10px;
        }
    }
    
    .sidebar {
        z-index: 10;
        width: 0px;
        overflow-x: hidden;
        background-color: $color-white;
        @include font($font-abel, $font-m, $color-dark-grey, $weight-light);
        transition: width ease 0.2s;

        @include media-max(425px){
            @include font($font-abel, $font-s, $color-dark-grey, $weight-light);
        }

        a {
            padding: 15px; 
            margin: 15px;
            text-decoration: none;
            @include font($font-abel, $font-m, $color-dark-grey, $weight-bold);

            &:hover {
                @include font($font-abel, $font-m, $color-dark-grey, $weight-bold);
                background-color: $color-x-light-grey;

                @include media-max(425px){
                    @include font($font-abel, $font-s, $color-dark-grey, $weight-bold);
                }
            }
        }

        a:last-child {
            bottom: 0px;
            position: absolute;
            visibility: hidden;

            &:after {
                content: '\00bb';
                position: relative;
                padding-left: 0px;
                visibility: hidden;
                transition: all ease-in 0.1s;
            }

            &:hover {
                &:after {
                    visibility: visible;
                    padding-left: 10px;
                }
            }
        }

        .underline {
            @include font($font-abel, $font-m, $color-orange, $weight-bold);

            &:hover {
                @include font($font-abel, $font-m, $color-orange, $weight-bold);

                @include media-max(425px){
                    @include font($font-abel, $font-s, $color-orange, $weight-bold);
                }
            }
        }
    }

    .background {
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
        position: fixed;
        opacity: 0;
        display: none;
        transition: ease 0.3s;
    }
}

.open {
    .burger {
        box-shadow: 10px 10px 30px -17px $color-medium-grey;
        background-color: $color-white;

        span:nth-child(1) {    
            transform: rotate(45deg);    
            margin-top: 10px;
            margin-bottom: 10px;
        }

        span:nth-child(2) {  
            visibility: hidden;
        }

        span:nth-child(3) {    
            transform: rotate(-45deg);    
            margin-top: -21px;
            margin-bottom: 10px;
        }
    }

    .sidebar {
        width: 50%;
        
        >div:last-child {
            visibility: visible;
        }
    }

    .background {
        opacity: 1;
        display: block;
    }
}