@import './variable.scss';
@import './mixin.scss';

.background{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url('../../assets/img/background.jpg');
    background-repeat: round;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 505px){
        flex-direction: column;
    }

    .container {
        display: flex;
        flex-direction: column;
        width: 30%;    
        background-color: #fff;
        height: fit-content;
        max-height: 90%;
        padding: 40px;
        border-radius: 5px;
        
        .logo, .title, .form {
            padding: 10px 0;
        }

        .logo {
            height: 7rem;
            display: flex;
            justify-content: center;

            * {
                justify-content: center;
                align-items: center;
                display: flex;
            }

            img {
                height: 50%;
            }

            div:last-child {
                @include font($font-abel, $font-m, $color-orange, $weight-bold);
                padding: 10px 0 10px 15px;
            }

            @media screen and (max-width: 554px){
                div:last-child {
                    @include font($font-abel, $font-s, $color-orange, $weight-bold);
                }
            }
        }

        .title {
            @include font($font-abel, $font-s, $color-dark-grey, $weight-light);
            text-align: center;
        }

        .form {
            > div:not(:last-child) {
                margin-bottom: 25px;
                border: 1px solid $color-light-grey;
                border-radius: 9px;
                overflow: hidden;
                
                * {
                    padding: 10px;
                    width: 100%;
                }

                div {
                    @include font($font-abel, $font-s, $color-medium-grey, $weight-light);
                    border-bottom: 1px solid $color-light-grey;
                }
                
                input {
                    @include font($font-abel, $font-s, $color-black, $weight-light);
                    border: 0;
                }
            }
            
            > div:last-child {
                border-radius: 5px;
                background-color: $color-blue;
                padding: 5px;
                text-align: center;
                @include font($font-abel, $font-m, $color-white, $weight-light);
                
                div:after {
                    content: '\00bb';
                    position: relative;
                    padding-left: 0px;
                    visibility: hidden;
                    transition: all ease-in 0.3s;
                }

                &:hover {
                    div:after {
                        visibility: visible;
                        padding-left: 10px;
                    }
                }
            }

            div {
                input:focus {
                    outline: none;
                }

                input::placeholder {
                    @include font($font-abel, $font-s, $color-grey, $weight-light);
                }
            }
        }
    }
}