@mixin font($font-family, $font-size, $font-color, $font-weight) {
    font-family: $font-family;
    font-size: $font-size;
    color: $font-color;
    font-weight: $font-weight;
}

@mixin media-min($min-width) {
    @media screen and (min-width: $min-width){
        @content;
    }
}

@mixin media-max($max-width) {
    @media screen and (max-width: $max-width){
        @content;
    }
}

@mixin tag($background-color, $margin-top, $margin-right, $margin-bottom, $margin-left, $font, $font-size, $color, $weight) {
    padding: 2px 10px;
    background-color: $background-color;
    border-radius: 15px;
    margin: $margin-top $margin-right $margin-bottom $margin-left;
    @include font($font, $font-size, $color, $weight);
}