@mixin font($font-family, $font-size, $font-color, $font-weight) {
    font-family: $font-family;
    font-size: $font-size;
    color: $font-color;
    font-weight: $font-weight;
}

@mixin media-min($min-width) {
    @media screen and (min-width: $min-width){
        @content;
    }
}

@mixin media-max($max-width) {
    @media screen and (max-width: $max-width){
        @content;
    }
}