@import './font.scss';

//color
$color-black: #000;
$color-white: #fff;
$color-x-light-grey: #f5f5f5;
$color-light-grey: #d9dadb;
$color-grey: #929294;
$color-medium-grey: #6e6e70;
$color-dark-grey: #444445;
$color-light-orange: #f0c1a5;
$color-orange: #ea9767;
$color-blue: #3273dc;
$color-dark-blue: #1f498b;
$color-red: #ff3860;
$color-green: #62acb5;
$color-beige: #f7ddcc;

//font-family
$font-abel: 'Abel';
$font-windsong: 'Windsong';
$font-burlington: 'Burlington';

//font-size
$font-l-title: 4.5rem;
$font-m-title: 4.2rem;
$font-s-title: 3.9rem;
$font-xs-title: 3.6rem;
$font-xxs-title: 3.3rem;

$font-xxxl: 2.5rem;
$font-xxl: 2.2rem;
$font-xl: 1.9rem;
$font-l: 1.6rem;
$font-m: 1.3rem;
$font-s: 1rem;
$font-xs: 0.7rem;

//font-weight
$weight-light: 400;
$weight-bold: 600;