@import './font.scss';

//color
$color-black: #000;
$color-white: #fff;
$color-light-grey: #d9dadb;
$color-grey: #929294;
$color-medium-grey: #6e6e70;
$color-dark-grey: #444445;
$color-orange: #ea9767;
$color-blue: #3273dc;

//font-family
$font-abel: 'Abel';

//font-size
$font-xxl: 2.2rem;
$font-xl: 1.9rem;
$font-l: 1.6rem;
$font-m: 1.3rem;
$font-s: 1rem;
$font-xs: 0.7rem;

//font-weight
$weight-light: 400;
$weight-bold: 600;